:root{
    --orange-color:orange;
}
body{
    background-color: white;
    width: 100%;
    overflow-x: hidden;    
}
#fejlec{
    width: 100%;
    background-color: white;
    height: 100px;
    
    


}
#logo{
    
    width: 280px;
    float: left;

}
#logokep{
    height: 120px;
    background-size: cover;
    color: aliceblue;
    font-size: 50px;
    text-align: center;
    padding-left: 40px;
}
#fejlecjobb{
    float: right;
    
}
#felsor{
    float: right;
    display: flex;
    color: orange;
    list-style: none;
    text-align: center;
    padding-right: 240px;

}
li{
    margin: 20px;
}
#intro{
    border: solid 1px white;
    color: black;
}
#fejlec_kep{
    background-image: url(képek/header.jpg);
    height: 550px;
    background-size: cover;
    color: white;
    margin: auto;
    text-align: center;
    
}
.lista{
    list-style: none;
    padding-top: 5%;
    font-size: 40px;


}
#intro_2{
    font-size: 15px;
    
    margin: auto;
    width: 10%;
    border: groove;
    border-radius: 10px;

    height: 40px;
    padding-top: 10px;
}
#bemutat{
    height: 550px;
    display: flex;

}
#bemutat_bal{
    width: 45%;

}
#bemutat_bal_kep{
    width: 600px;
    height: 300px;
    margin-top: 30%;
    margin-right: 5%;
    float: right;
    
}
#bemutat_jobb{
    width: 55%;
    display: block;
    
}
#bemutat_jobb_cim{
    float: left;
    margin-top: 15%;
}
#bemutat_jobb_szoveg{
    width: 95%;
    margin-top: 25%;
}
#narancs_tabla{
    border: solid;
    border-color: orange;
    width: 180px;
    margin: auto;
}
#tabla_szoveg{
    color: orange;
    text-align: center;
    
}
#menu{
    height: 300px;
    background-color: rgb(186,225,234);
    
}
#menu_felso{
    
    text-align: center;    
}
#tartalom_menu{
    display: flex;
}
#bal_panel{
    float: left;
    width: 33%;
    margin-right: 2%;
}
#wod_cim{
    color: var(--orange-color);
}
#kozep_panel{
    margin-left: 35;
    width: 30%;
    
}
#basics{
    color: var(--orange-color);
    
}
#jobb_panel{
    float: right;
    width: 31%;
}