body{
    background-color: white;
    width: 100%;
    overflow-x: hidden;    
}
#fejlec{
    width: 100%;
    background-color: white;
    height: 100px;
    
    


}
#logo{
    
    width: 280px;
    float: left;

}
#logokep{
    height: 120px;
    background-size: cover;
    color: aliceblue;
    font-size: 50px;
    text-align: center;
    padding-left: 40px;
}
#fejlecjobb{
    float: right;
    
}
#felsor{
    float: right;
    display: flex;
    color: orange;
    list-style: none;
    text-align: center;
    padding-right: 240px;

}
li{
    margin: 20px;
}
#intro{
    border: solid 1px white;
    color: black;
}
#fejlec_kep{
    background-image: url(képek/header.jpg);
    height: 550px;
    background-size: cover;
    color: white;
    margin: auto;
}
ul{
    list-style: none;
}
.lista{
    display: block;
}