:root{
    --orange-color:orange;
}
html{
    margin-left: -10px;
}
body{
    background-color: white;
    width: 100%;
    overflow-x: hidden;    
}
h2{
    color: var(--orange-color);
}
#fejlec{
    width: 100%;
    background-color: white;
    height: 100px;
    
    


}
#logo{
    
    width: 280px;
    float: left;

}
#logokep{
    height: 120px;
    background-size: cover;
    color: aliceblue;
    font-size: 50px;
    text-align: center;
    padding-left: 40px;
}
#fejlecjobb{
    float: right;
    
}
#felsor{
    float: right;
    display: flex;
    color: orange;
    list-style: none;
    text-align: center;
    padding-right: 240px;

}
li{
    margin: 20px;
}
#intro{
    border: solid 1px white;
    color: black;
}
#fejlec_kep{
    background-image: url(képek/header.jpg);
    height: 550px;
    background-size: cover;
    color: white;
    margin: auto;
    text-align: center;
    
}
.lista{
    list-style: none;
    padding-top: 5%;
    font-size: 40px;


}
#intro_2{
    font-size: 15px;
    
    margin: auto;
    width: 10%;
    border: groove;
    border-radius: 10px;

    height: 40px;
    padding-top: 10px;
}
#bemutat{
    height: 550px;
    display: flex;

}
#bemutat_bal{
    width: 45%;

}
#bemutat_bal_kep{
    width: 600px;
    height: 300px;
    margin-top: 30%;
    margin-right: 5%;
    float: right;
    
}
#bemutat_jobb{
    width: 55%;
    display: block;
    
}
#bemutat_jobb_cim{
    float: left;
    margin-top: 15%;
}
#bemutat_jobb_szoveg{
    width: 95%;
    margin-top: 25%;
}
#narancs_tabla{
    border: solid;
    border-color: orange;
    width: 150px;
    margin: auto;
    border-radius: 5px;
}
#tabla_szoveg{
    color: orange;
    text-align: center;
    
}
#menu{
    height: 480px;
    background-color: rgb(186,225,234);
    
}
#menu_felso{
    
    text-align: center;    
}
#tartalom_menu{
    display: flex;
}
#bal_panel{
    float: left;
    width: 33%;
    margin-right: 2%;
}
#wod_cim{
    color: var(--orange-color);
}
#kozep_panel{
    margin-left: 35;
    width: 30%;
    margin: auto;
    padding-bottom: 5%;
}
#basics{
    color: var(--orange-color);
    
}
#jobb_panel{
    float: right;
    width: 25%;
    
}
#strength{
    color: orange;
}
#menu_tabla{
    border: solid;
    margin: auto;
    width: 150px;
    border-color: orange;
    border-radius: 5px;
}
#menu_tabla_szoveg{
    color: orange;
    text-align: center;
}
#edzes_keret{
    height: 500px;
    display: flex;

}

#edzes_bal{
    width: 40%;
}
#edzes_bal_kep{
    height: 400px;
    float: right;
    margin-top: 5%;
    margin-right: 10%;
}
#edzes_jobb{
    
    width: 60%;
    float: right;
}
#edzes_jobb_szoveg{
    width: 90%;
    line-height: 21px;

}
#edzes_jobb_tabla{
    border: solid;
    
    width: 150px;
    border-color: orange;
    border-radius: 5px;
    margin-top: 5%;

}
#edzes_tabla_szoveg{
    color: orange;
    text-align: center;

}
#preise_keret{
    height: 450px;
    background-color: rgb(186,225,234);
}
#preise_felso_cim{
    text-align: center;
}
#preise_felso_szoveg{
    text-align: center;
}
#preise_felso_tabla{
    border: solid;
    margin: auto;
    width: 180px;
    border-color: orange;
    border-radius: 5px;
    
}
#preise_tabla_szoveg{
    text-align: center;
    color: orange;
}
#preise_also{
    display: flex;
}
#preise_bal{
    width: 33%;
    padding-left: 2%;
}
#preise_bal_cim{
    color: var(--orange-color);
}
#preise_bal_szoveg{
    line-height: 21px;

}
#preise_bal_tabla{
    border: solid;
    border-color: orange;
    border-radius: 5px;
    width: 220px;
    margin: auto;
    margin-top: 5%;
}
#preise_bal_tabla_szoveg{
    color: orange;
    text-align: center;
}
#preise_kozep{
    width: 33%;
    
}
#preise_kozep_szoveg{
    line-height: 21px;
}
#preise_kozep_tabla{
    border: solid;
    border-color: orange;
    border-radius: 5px;
    width: 220px;
    margin: auto;
    margin-top: 5%;
}
#preise_kozep_tabla_szoveg{
    color: orange;
    text-align: center;
}
#preise_jobb{
    width: 33%;
    margin-left: 5px;

}
#preise_jobb_szoveg{
    width: 85%;
}
#preise_jobb_tabla{
    border: solid;
    border-color: orange;
    border-radius: 5px;
    width: 160px;
    margin: auto;
    margin-top: 5%;
}
#preise_jobb_tabla_szoveg{
    
    color: orange;
    text-align: center;
}
#harom_kep_keret{
    display: flex;
    height: 400px;


}
#harom_kep_keret_bal{
    width: 33%;
    background-image: url(képek/start.jpg);
    height: 100%;
    
    background-position: center;
    background-size: cover;
}


#harom_kep_bal_szoveg{
    text-align: center;

}
#starte_heute{
    color: white;
    margin-top: 5%;
    font-size: 50px;
}
#harom_kep_bal_cim{
    color: white;
    text-align: center;
    
}
#harom_kep_kozep{
    width: 33%;
    background-image: url(képek/szemelyi.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
}


#harom_kep_bal_tabla_szoveg{
    text-align: center;
    color: white;
}
#harom_kep_kozep_szoveg{
    text-align: center;
    color: white;
}
#gruppentraining{
    
    
    margin-top: 5%;
    font-size: 50px;
}
#harom_kep_jobb{
    width: 33%;
    background-image: url(képek/tartos.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
}

#bal_szoveg{
    color: white;
    width: 75%;
    margin: auto;
    line-height: 21px;
}
#harom_kep_bal_tabla{
    margin: auto;
    border: solid;
    border-color: white;
    border-radius: 5px;
    width: 160px;
    
    margin-top: 5%;
}